GraphQLExample/.vs/GraphQLExample/DesignTimeBuild/.dtbcache
GraphQLExample/.vs/GraphQLExample/DesignTimeBuild/.dtbcache.v2
GraphQLExample/.vs/GraphQLExample/v16/.suo
GraphQLExample/.vs/GraphQLExample/v16/Server/sqlite3/db.lock
GraphQLExample/.vs/GraphQLExample/v16/Server/sqlite3/storage.ide
GraphQLExample/GraphQLExample/bin/
GraphQLExample/GraphQLExample/obj/
WebApplication9/.vs/
WebApplication9/WebApplication9/bin/
WebApplication9/WebApplication9/obj/
